@use '../abstracts/variables' as *;

/* 
    about-1-start
*/

.blta-about {
    &-1 {
        &-section-title {
            padding-left: 35px;
            max-width: 600px;

            @media #{$xs} {
                padding-left: 0px;
            }
        }

        &-img {
            position: relative;
            z-index: 1;

            @media #{$md,$xs} {
                margin-bottom: 100px;
            }

            .a1-il-1 {
                position: absolute;
                bottom: -130px;
                left: -50px;
                width: 55%;

                @media #{$md,$xs} {
                    bottom: -80px;

                }
            }
        }

        &-div {
            display: grid;
            grid-template-columns: 1.1fr 2fr;
            gap: 40px;
            align-items: center;

            
            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            
            @media #{$sm} {
                grid-template-columns: 1.1fr 2fr;
            }

            .a1-disc {
                margin-bottom: 30px;
            }
        }



        &-content-sig {

            .sig-img {
                margin-bottom: -40px;
                width: 34%;
            }

            .content-wrap {
                padding-left: 90px;
            }

            .sig-name {
                font-size: 20px;
                margin-bottom: 5px;
            }

            .sig-disc {
                color: #000;
            }
        }
        
        
    }
    
}

/* 
    about-1-end
*/

/* 
    about-2-start
*/
.blta-about-2 {
    &-left-grid {
        display: grid; 
        grid-template-columns: 1.1fr 0.8fr 1.1fr; 
        grid-template-rows: 1fr .9fr .8fr 1fr;
        padding-right: 40px;

        @media #{$xl,$lg,$md} {
            padding-right: 0px;
        }

        @media #{$xs} {
            padding-right: 0px;
            gap: 15px;
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr 1fr auto; 
            grid-template-areas: 
                    "item-1"
                    "item-2"
                    "item-3"; 
        }

        @media #{$sm} {
            gap: 0px;
            padding-right: 0px;
            grid-template-columns: 1.1fr 0.8fr 1.1fr; 
            grid-template-rows: 1fr .9fr .8fr 1fr;
        }

        .item-1 { 
            grid-area: 1 / 2 / 4 / 4; 

            @media #{$xs} {
                grid-area: item-1;
            }
    
            @media #{$sm} {
                grid-area: 1 / 2 / 4 / 4; 
            }
        }
        .item-2 { 
            grid-area: 2 / 1 / 5 / 3; 
            
            @media #{$xs} {
                grid-area: item-2;
            }
    
            @media #{$sm} {
                grid-area: 2 / 1 / 5 / 3; 
            }
        }
        .item-3 { 
            grid-area: 4 / 3 / 5 / 4; 
            @media #{$xs} {
                grid-area: item-3;
            }
    
            @media #{$sm} {
                grid-area: 4 / 3 / 5 / 4; 
            }
        }
    }

    &-img {
        height: 475px;
        padding: 20px;
        border: 2px #E7E5E5;
        border-style: dashed;
        background: #fff;

        @media #{$xs} {
            height: 375px;
        }

        @media #{$sm} {
            height: 475px;
        }

        &:nth-child(1) {
            position: relative;
            z-index: 1;
        }
    }

    &-happy-customer {
        font-size: 80px;
        display: flex;
        align-items: center;
        color: var(--blta-pr-2);

        @media #{$xl,$lg,$md,$xs} {
            font-size: 50px;
        }


        .text {
            display: inline-block;
            font-size: 22px;
            padding-left: 15px;
            color: #000;
        }
    }

    &-content {
        margin-right: -50px;
        padding-top: 20px;

        @media #{$xxl,$xl} {
            margin-right: 0px;
        }

        @media #{$lg,$md,$xs} {
            margin-right: 0px;
            padding-top: 50px;
        }

        .inner-div {
            gap: 35px;

            @media #{$xs} {
               flex-wrap: wrap; 
            }

            @media #{$sm} {
               flex-wrap: nowrap; 
            }
        }

        .blta-ply-btn-1 {
            width: 160px;
            height: 160px;
            &-svg {
                font-size: 23px;
                width: 90%;
            }

            &-icon-home {
                width: 60px;
                height: 60px;
                background: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
            }
        }

        .blta-list-1 {
            &-title {
                color: #000;
            }
            &-item {
                padding-left: 25px;
                &::after {
                    width: 12px;
                    height: 12px;
                    border: 2px solid #444444;
                    top: 8px;
                }
            }
        }
    }
    
    &-btn {
        gap: 30px;
        .blta-btn-2 {
            margin-right: 52px;
        }
    }
}
/* 
    about-2-end
*/

/* 
    about-3-start
*/
.blta-about-3 {

    &-area {
        position: relative;
        z-index: 1;
        padding-bottom: 220px;

        @media #{$md,$xs} {
            padding-bottom: 130px;
        }
    }

    &-bg-il {
        position: absolute;
        right: -100px;
        bottom: 0;

        width: 32%;
        z-index: -1;
    }


    &-row {
        display: grid;
        gap: 50px 60px;
        grid-template-columns: 1fr 1.4fr;

        @media #{$lg} {
            gap: 50px 30px;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        padding-left: 35px;
        position: relative;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            padding-left: 0;
        }
    }

    &-img {
        height: 525px;
    }

    &-img-2 {
        position: absolute;
        right: -130px;
        top: 250px;
        width: 390px;
        height: 400px;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            width: 260px;
            height: 300px;
            right: 0;
        }
    }

    &-il-img {
        width: 85%;
        position: absolute;
        bottom: -129px;
        left: -50px;
        z-index: 2;

        @media #{$md,$xs} {
            display: none;
        }
    }

    &-right {
        padding-top: 30px;
    }

    &-content {
        padding-left: 150px;

        @media #{$xl} {
            padding-left: 100px;
        }

        @media #{$lg,$md,$xs} {
            padding-left: 0px;
        }

        .disc {
            margin-bottom: 40px;
        }

        .innter-grid {
            display: grid;
            grid-template-columns: 1fr 3px 1.8fr;
            align-items: center;
            gap: 30px;

            @media #{$xl,$lg,$md} {
                grid-template-columns: 1fr 3px 3fr;
            }
            
            @media #{$xs} {
                grid-template-columns: 1fr;
                gap: 15px;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 3px 3fr;
                gap: 30px;
            }

        
            .line {
                display: block;
                width: 2px;
                height: 80%;
                background: var(--blta-pr-2);
            }
        }
    }

    &-counter {
        gap: 5px;

        .number {
            font-size: 130px;
            line-height: 1;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 70px;
            }
        }

        .disc {
            font-size: 25px;
            line-height: 1;
            margin-bottom: 12px;
        }
    }

    &-features {
        gap: 15px;

        .icon {
            font-size: 80px;
            color: #000;
            flex: 0 0 auto;
        }

        .feature-title {
            font-size: 22px;
            margin-bottom: 14px;
        }

        .features-disc {
            line-height: 25px;
        }
    }
}
/* 
    about-3-end
*/
