@use '../abstracts/variables' as *;

/* 
    all-button-css-start
*/

/* 
    search-btn-1-start 
*/
.blta-search-btn-1 {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    line-height: 1;
    font-size: 24px;
    flex: 0 0 auto;
    transition: 400ms var(--cube-1);
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 0 2px;

    &:hover {
        color: #000;
    }


}


/* 
    search-btn-1-end 
*/

/* 
    cart-btn-1-start 
*/
.blta-cart-btn-1 {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    line-height: 1;
    font-size: 24px;
    flex: 0 0 auto;
    transition: 400ms var(--cube-1);
    position: relative;
    z-index: 2;

    .count {
        font-size: 10px;
        font-weight: 600;
        color: #fff;
        position: absolute;
        left: -5px;
        top: -12px;
        transition: 400ms var(--cube-1);
        width: 18px;
        height: 18px;
        background: #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        color: #000;

        .count {
            color: var(--blta-pr-1);
        }
    }



}
/* 
    cart-btn-1-end 
*/


/* 
    mobile-menu-btn-1-start 
*/
.gly-mobile-menu-btn-1 {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    flex: 0 0 auto;
    width: 28px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 500ms var(--cube-1);
    position: relative;
    z-index: 1;
    
    span {
        display: block;
        background: #fff;
        width: 100%;
        height: 3px;
        transition: 500ms var(--cube-1);
    }
    &:focus {

        span {
            &:nth-child(2) {
                transform: translateY(-4px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(3px) rotate(45deg);

            }   
        }
    }
    &:hover {
        span {
            &:nth-child(2) {
                transform: translateY(-4px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(3px) rotate(45deg);

            }   
        }
    }
}
/* 
    mobile-menu-btn-1-end 
*/


/* 
    mobile-menu-btn-2-start 
*/
.gly-mobile-menu-btn-2 {
    overflow: hidden;
    border: none;
    outline: none;
    padding: 18px 15px;
    background: var(--gly-gd-1);
    flex: 0 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 500ms var(--cube-1);
    position: relative;
    z-index: 1;
    
    span {
        display: block;
        background: #fff;
        width: 100%;
        height: 4.5px;
        transition: 500ms var(--cube-1);
        border-radius: 5px;
    }
    &:focus {

        span {
            &:nth-child(2) {
                transform: translateX(50px) rotate(0deg);
            }   
            &:nth-child(3) {
                transform: translateY(-6px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(7px) rotate(45deg);
            }     
        }
    }
    &:hover {
        span {
            &:nth-child(2) {
                transform: translateX(50px) rotate(0deg);
            }   
            &:nth-child(3) {
                transform: translateY(-6px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(7px) rotate(45deg);

            }   
        }
    }
}
/* 
    mobile-menu-btn-2-end 
*/

/* 
    pr-btn-1-start 
*/
.blta-btn-1 {
    display: inline-block;
    flex: 0 0 auto;
    font-family: var(--blta-pr-font);
    font-weight: 800;
    font-size: 16px;
    background: #dc4e11;
    color: #fff;
    line-height: 1;
    letter-spacing: -0.3px;
    padding: 28px 74px;
    transition: 300ms var(--cube-1);
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    overflow: hidden;

    @media #{$lg,$md,$xs} {
        padding: 28px 40px;
    }

}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes shakeup {
    0% {
      transform: translate(0, 3px);
    }
    50% {
      transform: translate(0, -3px);
    }
    100% {
      transform: translate(0, 0);
    }
}


/* 
    pr-btn-1-end 
*/


/* 
    ply-btn-1-start
*/
.blta-ply-btn-1 {
    flex: 0 0 auto;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 30px;
    color: var(--blta-pr-1);
    transition: 400ms var(--cube-1);


    &-text {
        font-weight: 800;
    }

    &-svg {
        position: absolute;
        top: 0;
        width: 85%;
        height: 100%;
        font-size: 28px;
        animation: plybtn1 10s infinite linear;
        span {
            position: absolute;
            left: 50%;
            transform-origin: 0 100px;
        }
        
    }

    &:hover {
        background: var(--blta-pr-1);
    }
}

@keyframes plybtn1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 
    ply-btn-1-end
*/

/* 
    arrow-btn-1-start
*/
.blta-arrow-btn-1 {
    display: inline-flex;
    width: 79px;
    height: 79px;
    background: var(--blta-pr-1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 400ms var(--cube-1);
    flex:  0 0 auto;

    .icon-1 {
        display: inline-block;
        transition: 400ms var(--cube-1);
    }

    .icon-2 {
        display: inline-block;
        transition: 500ms var(--cube-2);
        position: absolute;
        top: 50%;
        left: -50%;
        color: #fff;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover {
        .icon-1 {
            transform: translate(150%, -150%) ;
        }
        .icon-2 {
            left: 50%;
        }
    }
}
/* 
    arrow-btn-1-end
*/


/*
    all-button-css-end 
*/

