@use '../abstracts/variables' as *;

/* 
    cta-1-start
*/
.blta-cta-2 {
    &-area {
        padding-top: 200px;
        padding-bottom: 200px;
        background-attachment: fixed;
    }
    &-content {
        max-width: 600px;

        .subtitle {
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 3px;

            @media #{$xs} {
                font-size: 22px;
            }

            @media #{$sm} {
                font-size: 26px;
            }
        }

        .blta-section-title-1 {
            padding-bottom: 6px;
        }
    }
}


/* 
    cta-1-end
*/

/* 
    cta-3-start
*/
.blta-cta-3 {
    &-area {
        background: #3E363D;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #2A2C38;
            // background: linear-gradient(90deg, rgba(155,150,255,1) 0%, rgba(42,44,56,1) 100%);
            z-index: -1;
            opacity: 80%;
            transition: .5s var(--cube-1);
        }



        &:is(.active) {
            &::after {
                opacity: 0;
                transition-delay: .3s;
            }
            .blta-cta-3-content {
                transform: scale(2);
                opacity: 0;
                visibility: hidden;
                transition-delay: 0;
            }

            .blta-cta-3-button {
                opacity: 1;
                visibility: visible;
                transition-delay: .4s;
            }
        }
    }

    &-button {
        outline: none;
        background: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 20px;
        border: 1px solid #fff;
        line-height: 1;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        transition: 400ms var(--cube-1);
        opacity: 0;
        visibility: hidden;

        &:hover {
            background-color: var(--blta-pr-2);
            border-color: transparent;
            color: #fff;
        }
    }

    &-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -2;
    }

    &-content {
        max-width: 745px;
        margin-left: auto;
        margin-right: auto;
        transition: .5s var(--cube-1);
        transition-delay: .5s;

        .blta-section-title-1 {
            margin-bottom: 30px;
        }
    }
}


.play-btn-1 {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    
    .icon {
        height: 77px;
        width: 77px;
        background: var(--blta-pr-2);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 23px;
        flex: 0 0 auto;
    }

    .text {
        text-align: left;
    }

    &:hover {
        .icon {
            animation: jello 1s;
        }
    }
}

/* 
    cta-3-end
*/

/* 
    cta-4-start
*/
.blta-cta-4 {
    &-area {
        position: relative;
        z-index: 1;
        margin-top: -50px;

        @media #{$md,$xs} {
            margin-top: 0px;
            padding-top: 50px;
        }
    }

    &-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc( 100% - 50px);
        z-index: -1;

        @media #{$md,$xs} {
            height: 100%;
        }
    }

    &-row {
        display: grid;
        grid-template-columns: 1fr 1.4fr 1fr;
        align-items: center;
        gap: 50px;
        margin-left: -130px;

        @media #{$xxl,$xl,$lg} {
            gap: 20px;
            margin-left: 0;
        }

        @media #{$md,$xs} {
            display: flex;
            flex-direction: column-reverse;
            align-items: baseline;
            gap: 50px;
            margin-left: 0;
        }
    }

    &-img {
        transition: var(--cube-1);
    }

    &-content {
        .blta-list-1-item::after {
            border: 5px solid #c9c9c9;
        }
    }

    &-form {

        .input-item {
            position: relative;
            z-index: 1;
        }
    
        .icon {
            position: absolute;
            top: 50%;
            left: 35px;
            transform: translateY(-50%);
            line-height: 1;
        }
        
        input {
            width: 100%;
            height: 70px;
            border: none;
            outline: none;
            padding-left: 80px;
            padding-right: 15px;
            font-size: 15px;
            font-weight: 600;
            color: #898989;
        }
    
    
        .form-btn {
            background: var(--blta-pr-2);
            width: 100%;
            min-height: 70px;
            padding: 10px;
            font-size: 18px;
            transition: 400ms var(--cube-1);

            &:hover {
                letter-spacing: .5px;
                transform: scale(95%);
            }
        }
        
        
    }
}



/* 
    cta-4-end
*/
