@use '../abstracts/variables' as *;

/* 
    cta-1-start
*/
.blta-cta-2 {
    &-area {
        padding-top: 200px;
        padding-bottom: 200px;
        background-attachment: fixed;
    }
    &-content {
        max-width: 600px;

        .subtitle {
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 3px;

            @media #{$xs} {
                font-size: 22px;
            }

            @media #{$sm} {
                font-size: 26px;
            }
        }

        .blta-section-title-1 {
            padding-bottom: 6px;
        }
    }
}


/* 
    cta-1-end
*/
