@use '../abstracts/variables' as *;
/* 
    hero-1-css-start 
*/



.blta-hero-1 {
    &-area {
        position: relative;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 35px);
        overflow: hidden;
    }

    &-slider-item {
        position: relative;
        z-index: 1;
        padding-top: 355px;
        padding-bottom: 250px;

        @media #{$xs} {
            padding-top: 220px;
        }

        &-img {

            &-position {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 50%;

                @media #{$md,$xs} {
                    width: 80%;
                }
            }

            position: relative;
            z-index: 1;
            mask-image: url(../img/hero/h1-img-mask.png);
            height: 100%;
            mask-size: cover;
            mask-repeat: no-repeat;
            mask-position: left bottom;
            transform: translate(100%, -100%);
            transition: 2000ms var(--cube-1);
            transition-delay: 0s;

            .overly-color {
                width: 100%;
                height: 100%;
                background: #000;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;

                @media #{$md,$xs} {
                    opacity: .5;
                }
            }


        }
        
        &-content {
            position: relative;
            z-index: 2;
        }
        

        &-title {
            font-size: 70px;
            max-width: 570px;
            margin-bottom: 25px;

            @media #{$xl} {
                font-size: 65px;
            }

            @media #{$lg} {
                font-size: 60px;
            }
            @media #{$md} {
                font-size: 50px;
            }
            @media #{$xs} {
                font-size: 40px;
            }
            @media #{$sm} {
                font-size: 45px;
            }
        }

        &-disc {
            font-size: 20px;
            line-height: 34px;
            max-width: 580px;
            margin-bottom: 40px;

            @media #{$xl,$lg} {
                max-width: 50%;
            }
        }
    }
    
}


.blta-hero-1 {
    &-slider {
        
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-active) {
                        .blta-hero-1-slider-item-img {
                            transform: translate(0%, 0%);
                            transition-delay: 1s;
                        }
                    }
                }
            }
        }

        &-btn {
            &-positon {
                display: flex;
                align-items: center;
                gap: 10px;
                position: absolute;
                right: 4vw;
                bottom: 95px;
                z-index: 2;
            }
    
            display: flex;
            flex: 0 0 auto;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 1px solid #fff;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            transition: 400ms var(--cube-1);

            i {
                display: inline-block;
                transition: 500ms var(--cube-2);
            }
    
    
            &:hover {
                background-color: var(--blta-pr-1);
                border-color: transparent;
                transform: scale(95%);

                i {
                    transform: rotateY(360deg);
                }
            }
        }
    }
    
}



/* 
    hero-1-css-end
*/