@use '../abstracts/variables' as *;

/* 
    portfolio-1-start
*/


.blta-portfolio-1 {

    &-scn-title {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        gap: 0 30px;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .blta-para-1 {
            max-width: 560px;
        }
    }

    &-left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        max-width: 560px;
        height: 540px;
        // transform: rotate(40deg);
        transform-origin: center center;
        transform: translateX(50px);

        @media #{$xl} {
            max-width: 460px;
            height: 440px;
        }

        @media #{$lg} {
            max-width: 370px;
            height: 340px;
        }

        @media #{$xs} {
            max-width: 220px;
            height: 180px;
    
        }

        @media #{$sm} {
            max-width: 300px;
            height: 270px;
        }
    }

    &-img-1 {
        border-radius: 0 500px 500px 0;

    }

    &-img-2 {
        border-radius: 500px 0 0 500px;

    }

    &-grid {
        padding-left: 26px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        position: relative;
        z-index: 1;
        padding-top: 50px;

        @media #{$md} {
            padding-left: 0px;
        }

        @media #{$xs} {
            padding-left: 0px;
            grid-template-columns: 1fr ;
        }

        @media #{$sm} {
            padding-left: 0px;
            grid-template-columns: 1fr 1fr;
        }

        .icon {
            font-size: 20px;
            color: var(--blta-pr-2);
            display: inline-block;
            line-height: 1;
            position: absolute;
            top: calc(50% + 25px);
            left: calc(50% + 14px);
            transform: translate(-50% , -50%);

            @media #{$md} {
                left: 50%; 
            }

            @media #{$xs} {
                left: 50%; 
                display: none;
            }
    
            @media #{$sm} {
                left: 50%; 
                display: block;
            }
        }
    }

    &-feature {
        border: 1px solid #C1C1C1;
        padding: 25px 40px;
        background-color: #fff;

        @media #{$xl,$lg,$md,$xs} {
            padding: 25px 15px;
        }

        .number {
            font-size: 100px;
            line-height: 1;
            margin-bottom: 23px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 70px;
            }
        }

        .title {
            font-size: 19px;
            margin-bottom: 9px;
        }

        .disc {
            color: #161616;
        }
        
    }
    

}


/* 
    portfolio-1-end
*/