@use '../abstracts/variables' as *;

/* 
    services-1-start
*/

.blta-services {
    &-1 {
        &-border-bottom {
            border-bottom: 2px solid #f7f7f7;
        }

        &-item {
            padding: 0 30px;
            padding-top: 45px;
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
        
            &::after {
                content: "";
                width: 156px;
                height: 200px;
                border-radius: 80px;
                background: #fafafa;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                z-index: -1;
                transform-origin: center;
                transition: 400ms var(--cube-2);
            }
        
            .s1-icon {
                font-size: 70px;
                margin-bottom: 35px;
                transition: 400ms var(--cube-1);
            }
        
            
            .s1-title{
                font-size: 30px;
                margin-bottom: 17px;

                @media #{$xs} {
                    font-size: 24px;
                }

                @media #{$sm} {
                    font-size: 26px;
                }
            }

            &:hover {
                &::after {
                    transform: translateX(-50%) rotate(90deg);
                    background: #f4f4f4;
                }

                .s1-icon {
                    transform: scale(105%);
                }
            }
        }
    }
}

/* 
    services-1-end
*/

/* 
    services-2-start
*/
.blta-services-2 {

    &-area {
        position: relative;
        z-index: 1;
    }

    &-il-1 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 41%;

    }

    &-section-title {
        .icon {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: #000;
            border-radius: 50%;
            line-height: 35px;
            font-size: 20px;
            color: #fff;
        }
        .blta-subtitle-1 {
            justify-content: center;
            color: #444444;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-card {
        background: #fff;
        border-bottom: 1px solid #CECECE;
        border-right: 1px solid #CECECE;
        padding: 55px 75px;



  

        @media #{$xl} {
            padding: 55px 45px;

        }

        @media #{$lg,$md} {
            padding: 55px 25px;
        }

        @media #{$xs} {
            padding: 55px 25px;
            border: 1px solid #CECECE;
        }

        @media #{$sm} {
            padding: 55px 25px;
            border-bottom: 1px solid #CECECE;
            border-right: 1px solid #CECECE;
        }

        &:nth-child(1) {
            border-left: 1px solid #CECECE;
            border-top: 1px solid #CECECE;
        }

        &:nth-child(2) {
            border-top: 1px solid #CECECE;
        }

        &:nth-child(3) {
            border-top: 1px solid #CECECE;
        }

        &:nth-child(4) {
            border-left: 1px solid #CECECE;
        }

        &:nth-child(5) {
            border-left: 1px solid #CECECE;
        }

        .card-title {
            display: flex;
            font-size: 28px;
            gap: 15px;
            align-items: center;
            margin-bottom: 25px;
            
            i {
                font-size: 70px;
                @media #{$xs} {
                    font-size: 40px;
                }
            }

            @media #{$xs} {
                font-size: 22px;
            }
        }

        .card-para {
            line-height: 28px;
        }

        &:hover {
            .card-title {
                i {
                    animation: jello 1s;
                }
            }
        }
    }
}

/* 
    services-2-end
*/

/* 
    services-3-start
*/

.blta-services-3 {
    &-section-title {
        max-width: 785px;
        margin-left: auto;
        margin-right: auto;
        .icon {
            width: 80px;
            height: 80px;
            display: inline-flex;
            background: #000;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #fff;
            font-size: 35px;
        }
    }

    &-card {
        margin-bottom: 30px;

        .card-img {
            height: 335px;
            perspective: 70px;
            perspective-origin: 50% 50%;
            
            img {
                transition: .6s;
            }
        }

        .content {
            background-color: #fff;
            padding: 28px 10px;
            box-shadow: 0px 16px 46px 0px rgba(0, 0, 0, 0.03);
            margin-top: -40px;
            position: relative;
            z-index: 1;
            max-width: 88%;
            margin-left: auto;
            margin-right: auto;

            transition: 500ms ;
        }

        .card-title {
            font-size: 28px;
            line-height: 1.28;
            transition: 500ms var(--cube-1);

            @media #{$lg,$md,$xs} {
                font-size: 22px; 
            }

            &:hover {
                letter-spacing: .5px;
                color: var(--blta-pr-2);
            }
        }

        .icon {
            font-size: 50px;
            color: #010101;
            transition: 500ms var(--cube-1);
        }


        &:hover {
            .content {
                max-width: 100%;
            }

            .card-img {
                img {
                    transform: scaleX(1) scaleY(1) scaleZ(0.1) rotateX(8deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
                }
            }

            .icon {
                color: var(--blta-pr-2);
            }


        }

    }
}


/* 
    services-3-end
*/
