@use '../abstracts/variables' as *;

/* 
    team-1-start
*/

.blta-team-1 {

    &-area {
        position: relative;
        z-index: 1;
    }

    &-il-1 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 41%;
        margin-right: -230px;
    }

    &-section-title {
        .blta-para-1 {
            max-width: 590px;
        }
    }

    &-content {
        .inner-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
        }
        .inner-div-2 {
            display: flex;
            gap: 30px 90px;
            align-items: center;
            flex-wrap: wrap;
        }
        
    }

    &-slider-main {
        margin-left: -50px;
        padding-right: 80px;
        position: relative;
        z-index: 1;

        @media #{$xxl,$xl,$lg} {
            margin-left:  0px;
            padding-right: 0px;
        }

        @media #{$md,$xs} {
            margin-left:  0px;
            padding-right: 0px;
            margin-bottom: 50px;
        }

        &::after {
            content: "";
            width: 319px;
            height: 78%;
            background: #fafafa;
            border-radius: 0 250px 0 0;
            position: absolute;
            right: 40px;
            bottom: 0;
        }
    }


    &-slider-prw {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 320px;

        &::after {
            content: "";
            width: 100%;
            height: 156px;
            background: linear-gradient(90deg, rgba(228,228,228,1) 0%, rgba(247,247,247,1) 100%);
            position: absolute;
            left: -40px;
            bottom: 0;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                left: 0px;
            }
        }

        &-img  {
            height: 195px;
            width: 145px;
            overflow: hidden;
            img {
                transition: 400ms var(--cube-2);
                transform-origin: bottom center;
            }

            &:hover {
                img {
                    transform: scale(95%);
                }    
                    
            }
        }
    }
}


.blta-mail-link-1 {
    gap: 15px;

    .item-title {
        font-size: 17px;
        margin-bottom: 5px;
    }
    .item-link {
        font-size: 21px;
        transition: 400ms var(--cube-1);
        &:hover {
            color: var(--blta-pr-1);
        }
    }

    &:hover {
        .blta-mail-icon-1 {
            animation: jello 1s;
            transform-origin: center;
        }
    }
}
.blta-mail-icon-1 {
    width: 67px;
    height: 67px;
    background: var(--blta-pr-1);
    border-radius: 50%;
    font-size: 26px;

    i {
        display: inline-block;
    }
}

/* 
    team-1-end
*/

/* 
    team-2-start
*/

.blta-team-2 {
    &-area {
        position: relative;
        z-index: 1;
    }
    
    &-il {
        position: absolute;
        right: -70px;
        bottom: 0;
        width: 45%;
        z-index: -1;
    }



    &-item {
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        z-index: 1;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }
    
        &::after {
            content: "";
            width: 90%;
            height: 77%;
            position: absolute;
            right: 0;
            bottom: 0;
            background: #f6f6f6;
            z-index: -1;
            clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
        }
    
        .content {
            padding-top: 130px;

            @media #{$xs} {
                padding-top: 0px;
                padding-bottom: 30px;
            }
    
            @media #{$sm} {
                padding-top: 130px;
                padding-bottom: 0px;
            }
        }
    
        .item-img {
            height: 480px;
            display: flex;
            align-items: end;

            @media #{$lg} {
                width: 45%;
                height: auto;
            }

            @media #{$xs} {
                height: auto;
                width: 100%;
            }
    
            @media #{$sm} {
                height: auto;
                width: 45%;
            }
        }
    
        .item-name {
            font-size: 33px;
            margin-bottom: 4px;
        }
        .item-disc {
            font-weight: 500;
            margin-bottom: 20px;
        }
        
    }

    &-slider {
        position: relative;
        z-index: 1;
    }

    &-slider-btn {

        @media #{$xxl,$xl,$lg,$md,$xs} {
            justify-content: center;
            margin-top: 30px;
            gap: 30px;
        }

        .blta-slider-btn-1 {
            color: #000;
            border-color: #00000047;


            &:hover {
                border-color: transparent;
            }

            

            &:nth-child(1) {
                position: absolute;
                top: 70%;
                left: -100px;
                transform: translateY(-50%);
                z-index: 1;
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    position: unset;
                    transform: unset;
                }
            }

            &:nth-child(2) {
                position: absolute;
                top: 70%;
                right: -100px;
                transform: translateY(-50%);
                z-index: 1;
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    position: unset;
                    transform: unset;
                }
            }
        }

    }
    
}

.blta-social-link-2 {
    flex-wrap: wrap;
    gap: 10px;

    .link {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--blta-pr-2);
        border-radius: 50%;
        font-size: 20px;
        color: #000;
        transition: 400ms var(--cube-1);

        &:hover {
            background: #000;
            color: #fff;
            transform: scale(90%);
        }
    }
}
/* 
    team-2-end
*/

/* 
    team-3-start
*/

.blta-team-3 {
    &-row {
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        gap: 50px 70px;

        @media #{$xl,$lg} {
            gap: 50px 30px;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        position: relative;
        z-index: 1;
        .item-img {
            height: 300px;
            position: relative;
            z-index: 1;

            .line-1 {
                width: 6px;
                height: 0%;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: var(--blta-pr-2);
                transition: .2s;
                transition-delay: .6s;
            }

            .line-2 {
                width: 0%;
                height: 6px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--blta-pr-2);
                transition: .2s;
                transition-delay: .4s;
            }

            .line-3 {
                width: 6px;
                height: 0%;
                position: absolute;
                right: 0;
                top: 0;
                background-color: var(--blta-pr-2);
                transition: .2s;
                transition-delay: .2s;
            }

            .line-4 {
                width: 0%;
                height: 6px;
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: var(--blta-pr-2);
                transition: .2s;
                transition-delay: 0s;
            }

        }

        .item-content {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            .left {
                padding: 17px 30px;
                background: #222429;
                position: relative;
                z-index: 1;

                @media #{$xl,$lg,$md,$xs} {
                    padding: 17px 15px;
                }
            }
        }

        .item-name {
            font-size: 20px;
            transition: 400ms var(--cube-1);
            margin-bottom: 6px;

            &:hover {
                color: var(--blta-pr-2);
            }
        }

        .item-disc {
            font-size: 18px;
            color: #97989a;
        }


        .blta-social-link-1 {
            height: 100%;
            background: var(--blta-pr-2);
            transform: translateX(-100%);
            transition: 400ms var(--cube-1);

            .link {
                color: #000;

                &:hover {
                    color: #fff;
                }
            }
        }

        &:hover {
            .item-img {
                .line-1 {
                    height: 100%;
                    transition-delay: 0s;
                }
                .line-2 {
                    width: 100%;
                    transition-delay: .3s;
                }
                .line-3 {
                    height: 100%;
                    transition-delay: .4s;
                }
                .line-4 {
                    width: 100%;
                    transition-delay: .6s;
                }
            }

            .blta-social-link-1 {
                transform: translateX(0%);
            }
        }
    }
}

.line-1 {
    background-color: #EDEDED;
    width: 100%;
    height: 2px;
}
/* 
    team-3-end
*/