@use '../abstracts/variables' as *;

/* 
    testimonial-1-start
*/

.blta-testimonial-2 {
    &-item {

        .content {
            transform: translateX(100px);
            opacity: 0;
            transition: 1s var(--cube-2);
        }
        
        .header {
            gap: 30px;
            flex-wrap: wrap;
        }

        .item-img {
            flex: 0 0 auto;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background: #ddd;
        }

        .item-name {
            font-size: 24px;
        }

        .item-disc {
            margin-bottom: 10px;
        }

        .item-comment {
            font-size: 25px;
            line-height: 1.44;
            font-style: italic;
            gap: 15px;
            transform: translateY(100px);
            opacity: 0;
            transition: 1s var(--cube-2);

            i {
                font-size: 45px;
            }
        }

    }

    &-slider {
        padding-right: 85px;

        @media #{$md,$xs} {
            padding-right: 0px; 
            margin-bottom: 50px;
        }

        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-active) {
                        .blta-testimonial-2-item {
                            .content {
                                transform: translateX(0);
                                opacity: 1;
                            }
                            .item-comment {
                                transform: translatey(0);
                                opacity: 1;
                                transition-delay: .3s;
                            }
                        }
                    }
                }
            }
        }
    }

    &-slider-pagination {
        padding-left: 55px;
        .testimonial-2-pagination {
            span {
                width: 32px;
                height: 16px;
                border-radius: 8px;
                opacity: 1;
                background: #e7e7e7;
        
                &:is(.swiper-pagination-bullet-active) {
                    background: var(--blta-pr-2);
                }
            }   
        }
    }

}

.blta-accordion {
    margin-left: -35px;

    @media #{$md,$xs} {
        margin-left: 0px;
    }

    &-item {
        position: relative;
        z-index: 1;
    
        &::after {
            content: "";
            width: 100%;
            height: 84%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: transparent;
            border: 1px solid #C1C1C1;
        }
    
    
        .item-title {
            font-size: 22px;
            background: #faf9f7;
            width: 100%;
            text-align: left;
            padding: 18px 40px;
            position: relative;
            z-index: 1;
            transition: 400ms var(--cube-1);
    
            &::after {
                content: "";
                width: 93%;
                height: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                background: var(--blta-pr-2);
                z-index: -1;
                opacity: 0;
                transition: 400ms var(--cube-1);
            }
    
            &:is(:not(.collapsed)) {
                background: transparent;
                &::after {
                    opacity: 1;
                }
            }
    
            span {
                font-size: 18px;
                color: #444444;
                margin-right: 10px;
            }
        }
        
        .item-body {
            padding: 30px 40px;
        }
    }

    
}

.blta-rating {
    gap: 10px;

    i {
        font-size: 20px;
        line-height: 1;
        color: #fec104;
    }
    
}



/* 
    testimonial-1-end
*/



/* 
    testimonial-2-start
*/

.blta-testimonial-3 {
    &-area {
        position: relative;
        z-index: 1;
        background-color: #F7F7F7;
    }

    &-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        z-index: -1;
        height: 525px;

        @media #{$xs} {
            width: 100%;  
        }
    }

    &-tabs-and-btn {
        padding-left: 30px;
        gap: 20px;
        @media #{$xl,$lg} {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        @media #{$md} {
            flex-wrap: wrap;
            margin-bottom: 20px;
            background-color: #fff;
        }
        @media #{$xs} {
            flex-wrap: wrap;
            margin-bottom: 20px;
            background-color: #fff;
            padding: 15px 30px;
        }
    }

    &-tabs {
        &-btn {
            gap: 0px 50px;
            position: relative;
            z-index: 1;

            @media #{$xs} {
                gap: 0px 20px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #e2e9f5;
                z-index: -1;
            }

            .nav-link {
                font-size: 20px;
                background: transparent;
                padding: 20px 0;
                border-bottom: 3px solid;
                border-color: transparent;

                &:hover {
                    color: var(--blta-pr-2);
                }

                &:is(.active) {
                    border-color: #000;
                }
            }
        }
    }

    &-slider {
        margin-right: -314px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }

        &-item {
            position: relative;
            z-index: 1;
            border: 5px solid;
            border-color: transparent;
            transition: .5s var(--cube-1);
            overflow: hidden;

            .item-img {
                  height: 500px;
            }

            .item-content {
                background: #fff;
                position: absolute;
                bottom: 44px;
                padding: 25px 30px;
                left: -100%;
                transition: 1000ms var(--cube-1);
            }

            .item-title {
                font-size: 25px;
                transition: 400ms var(--cube-1);
                margin-bottom: 10px;

                &:hover {
                    color: var(--blta-pr-2);
                }
            }

            .item-disc {
                font-size: 18px;
                color: #878787;
            }

            &:hover {
                border-color: var(--blta-pr-2);
                .item-content {
                    left: 0%;
                }
            }

        }

        &-btn {
            gap: 10px;
            .blta-slider-btn-1 {
                border-color: #000;
                color: #000;

                &:hover {
                    border-color: transparent;
                }
            }
        }
    }

    &-slider {
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-active) {
                        .blta-testimonial-3-slider-item {
                            border-color: var(--blta-pr-2);
                            .item-content {
                                left: 0%;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* 
    testimonial-2-end
*/

